*{
    box-sizing: border-box;
    padding:10px
}
.row{
    width: 100%;
    /* background-color: rgb(96, 184, 221); */
}
h1{
    margin: 15px;
    background-color: rgba(212, 225, 67, 0.776);
    border: 3px double black;
}
section{
    border: 2px solid rgb(8, 8, 8);
    background-color: rgb(181, 105, 143);
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
@media(min-width:992px){
    .col-lg-4{
        float: left;
        border: 1px solid black;
        width: 33%;
        background-color: palegreen;
    }
}
@media (min-width:768px) and (max-width:991px){
    .col-md-6{
        float: left;
        border: 1px solid black;
        width: 50%;
        background-color: skyblue;
    }
    .col-md-12{
        float: left;
        border: 1px solid black;
        width: 100%;
        background-color: skyblue;
    }
}
